<main>
  <div class='container col-md-5 p-0'>
    <header class='mb-3 mt-5'>
      {{#if isCurrentUser}}
        <div class='alert alert-info' role='alert'>
          Este es tu perfil de usuario, puedes editar tu cuenta en
          <a href='/usuario/{{user.id}}/editar'>este enlace.</a>
        </div>
      {{/if}}
      <h3>
        {{user.nickname}}
      </h3>
      {{#if user.bio}}
        <div class="mt-3">
          Bio: <br>
          {{#if user.bio}}
            <p class="card card-body">
              {{user.bio}}
            </p>
          {{else}}
            <span class='text-muted'>Usuario sin bio.</span>
          {{/if}}
        </div>
      {{/if}}
      <hr />
    </header>
    <div>
      <h5>Posts</h5>
      {{#each posts}}
        {{>postItem}}
      {{/each}}
    </div>
  </div>
</main>