<section class='card'>
  <form action='/post/{{id}}/editar' class='card-body m-0' method='post'>
    <div class='mb-3'>
      <label for='text' class='form-label'>
        <h5>Editar Post:</h5>
      </label>
      <textarea
        name='text'
        class='form-control'
        rows='3'
        maxlength='360'
        required
      >{{text}}</textarea>
    </div>
    <div>
      <input type='submit' class='btn btn-primary' value='Editar' />
    </div>
  </form>
</section>