<article class='post-item card mb-3'>
  <div class='card-body'>
    <div class='card-title'>
      <a href='/usuario/{{user_id}}' class='text-reset'>
        <b>{{nickname}}</b>
      </a>
    </div>
    <div class='card-text'>
      <p class='m-0'>{{text}}</p>
    </div>
    <a href='/post/{{id}}'>Ver respuestas</a>
  </div>
</article>